# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
./*

# Codeblocks files
*.cbp
.layout

#Other files
complex_commands.png
lexical_structure.png
pipelines.png
getCommandOutput.c
testPipe.c
test.c

